/* Overrides the crsd_style */

.leftButton {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 10%;
    left: 0;
}

.rightButton {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 10%;
    right: 0;
}

.cancelButton {
    position: fixed;
    bottom: 0;
    left:   10%;
    width:  80%;
    height: 5%;
}

.softkey {
}

.arrow_on_softkey {
    max-width: 100%;
    max-height: 100%;
}

.instructionsPage {
    background-color: white !important;
    border: 0 !important;
    text-align: center;
}

button {
    font-size: 1.5em;
}

.previousButton {
    right: 100px !important;
}
